*}{
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 50px;
    padding: 20px;
}
body{
    background-image: url(bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
.tt{
    color: rgb(238, 184, 114);

}
.ww{
    color: rgb(180, 123, 123);
}
.img{
    width: 5px;
}
.mm{
    font-size: 30px;
    color: black;
}
input{
    margin: 10px;
    border-radius: 100px;
    padding: 5px;
    width:300px;
    height: 40px;
    outline: none;
    border: none;
}
.hh{
    margin: 20px;
}
button{
    background-color: rgba(255, 192, 203, 0.856);
    padding: 20px 20px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 100px;
    height: 30px;
}
button:hover{
    background-color: blue;
    transition: .5s ease;
    cursor: pointer;
}
@media screen and( max-width:900px){
    display: max-block-size;
}

